.DS_Store
.env
.env.*.local
.env.local
.idea/
.nyc_output/
.tmp/
.vscode/
*.db
*.db*
*.db*
*.log
*.pid
*.pid.lock
*.seed
*.sqlite
*.sqlite3
*.swo
*.swp
*.tsbuildinfo
*~
build/
bun.lockb
coverage/
dist/
logs/
node_modules/
npm-debug.log*
pids
temp/
*.db*
Thumbs.db
tmp/
yarn-debug.log*
yarn-error.log*